.hero {
    text-align: center;
}

.card {
  height: 375px;
  width: 300px;
  background-color: #e8e8e8;
}
.media {
  background-color: #0090ff;
  padding: 15px;
}
.media-content p {
  color: white;
}
.main-content {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.content {
  background-color: white;
  padding: 10px;
}

.content p {
  font-size: 15px;
}
